@page "/history"

<h2>Historia</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Nazwa pliku</th>
            <th>Data sprawdzenia</th>
            <th>Godzina sprawdzenia</th>
            <th>Procent plagiatu</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>inzynierka.pdf</td>
            <td>13.12.2022</td>
            <td>10:41</td>
            <td>7%</td>

        </tr>
        <tr>
            <td>engineerka.pdf</td>
            <td>10.12.2022</td>
            <td>12:35</td>
            <td>15%</td>

        </tr>
        <tr>
            <td>wierszeKochanowskiego.pdf</td>
            <td>29.11.2022</td>
            <td>21:37</td>
            <td>21%</td>

        </tr>
        <tr>
            <td>KONstyTUCja.pdf</td>
            <td>23.11.2022</td>
            <td>15:43</td>
            <td>37%</td>

        </tr>
        <tr>
            <td>StatutUKW.pdf</td>
            <td>16.11.2022</td>
            <td>13:27</td>
            <td>30%</td>

        </tr>
        </tbody>
    </table>
</div>