@page "/"
@page "/home"
<PageTitle>Strona główna</PageTitle>

<body>
    <section id="slider">
        <input type="radio" name="slider" id="s1" checked>
        <input type="radio" name="slider" id="s2">
        <input type="radio" name="slider" id="s3">
        <input type="radio" name="slider" id="s4">
        <input type="radio" name="slider" id="s5">

        <label for="s1" id="slide1"><img src="jpg/jakub.jpg" alt=""></label>
        <label for="s2" id="slide2"><img src="jpg/tomek.jpg" alt=""></label>
        <label for="s3" id="slide3"><img src="jpg/kaja.jpg" alt=""></label>
        <label for="s4" id="slide4"><img src="jpg/kuba.jpg" alt=""></label>
        <label for="s5" id="slide5"><img src="jpg/daniel.jpg" alt=""></label>
    </section>
    <section>
        @*
        <text for="s1" id="text1">Student na Uniwersytecie Kazimierza Wielkiego w Bydgoszczy.
        Jego pasją są sieci komputerowe oraz programowanie. Z wyróżnieniem zakończył przedostatni semestr swoich studiów.
        W naszym projekcie odpowiedzialny jest za backtend.</text>
        <text for="s2" id="text2">Kawaler, zaręczony, lat 22. Interesuje go motoryzajca oraz nowinki technologiczne.
        Samodzielnie uczy się języka programowania Python, z którym to wiąże swoją przyszłość.
        W wolnym czasie chodzi na siłownię oraz aktywnie spędza czas chociaż gry komputerowe również nie są mu obce.
        W projekcie odpowiedzialny jest za frontend oraz graficzne elementy strony.</text>
        <text for="s3" id="text3">Jedna z niewielu kobiet na kierunku informatyki. Prywatnie dużo pracuje, nie lubi siedzieć
        bezczynnie w miejscu. W świecie IT odnalazła się w dziale Cyberbezpieczeństwa oraz nauki programowania dla najmłodszych.
        Interesuje się modą oraz tatuażami. Odpowiedzialna jest za zarządzanie projektem, oprawę graficzną oraz dokumentację.</text>
        <text for="s4" id="text4">23 letni student ostatniego semestru Informatyki. Pochodzi z Piły, gdzie na codzień
        mieszka i pracuje. Spełnia się pracując przy projektowaniu i rozstawianiu scen, nagłośnienia i oświetlenia
        scenicznego. Festiwale, koncerty i podobne eventy nie są mu obce. W świecie IT najbardziej zainteresowały go
        sieci oraz programowanie. Bardzo chętnie uczy się nowych rozwiązań i wdraża je w swoje projekty. W AntyPlagiatexie
        odpowiedzialny był za programowanie frontend.</text>
        <text for="s5" id="text5">Ostatni z grupy znajomych zajmujących się projektem Antyplagiatex.
        Interesuje się sportem, w szczególności piłką nożną oraz chodzi na siłownię. W wolnym czasie
        lubi podróżować, zwiedzać i spotykać się w towarzystwie przyjaciół. Pracuje w dziale sieci komputerowych
        spełniając się w zawodzie. W projekcie odpowiedzialny jest za grafikę.</text>*@
    </section>
</body>

