@page "/settings"

<div class="login-box">
    <h2>Zaloguj się</h2>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Login</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Hasło</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Zaloguj
        </a>
    </form>
</div>


@code {

}

